body {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: sans-serif;
  background: url(city.jpg) center fixed;
  background-size: cover;
  background-position: 200px 0;
}

body .jumbotron {
  color: white;
  background-color: black;
  opacity: 0.7;
}

body .jumbotron .container {
  opacity: 1;
}

body .jumbotron .container .header {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
}

body .game {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 10px;
}

body .game .board {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 4px solid black;
}

body .game .board .horizontal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

body .game .board .horizontal .tile {
  border: 1px solid black;
  width: 10vw;
  height: 10vw;
  max-width: 60px;
  max-height: 60px;
  background-size: 95% 95%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: white;
}

body .game .sidebar {
  margin-left: 10px;
}

body .game .sidebar .newgame {
  margin-bottom: 10px;
  width: 200px;
}

body .game .sidebar .newgame .btn {
  width: 100%;
}

body .game .sidebar .display {
  width: 200px;
  height: 40%;
}

body .game .sidebar .display .alert {
  width: 100%;
  height: 100%;
  color: white;
  text-align: center;
}

@media only screen and (max-width: 700px) {
  body .game {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body .game .board {
    margin: auto;
    margin-bottom: 10px;
  }
  body .game .sidebar .newgame {
    margin: auto;
    margin-bottom: 10px;
  }
  body .game .sidebar .display {
    margin: auto;
  }
}

body .newgame .btn, body .alert {
  background-image: linear-gradient(125deg, #3498db, #9b59b6, #e74c3c, #f39c12);
  background-size: 400% 400%;
  -webkit-animation: bganimation 8s infinite;
          animation: bganimation 8s infinite;
}

@-webkit-keyframes bganimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes bganimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.Rb {
  background-image: url(pieces/rook_b.svg);
}

.Rw {
  background-image: url(pieces/rook_w.svg);
}

.Bb {
  background-image: url(pieces/bishop_b.svg);
}

.Bw {
  background-image: url(pieces/bishop_w.svg);
}

.Nb {
  background-image: url(pieces/knight_b.svg);
}

.Nw {
  background-image: url(pieces/knight_w.svg);
}

.Kb {
  background-image: url(pieces/king_b.svg);
}

.Kw {
  background-image: url(pieces/king_w.svg);
}

.Qb {
  background-image: url(pieces/queen_b.svg);
}

.Qw {
  background-image: url(pieces/queen_w.svg);
}

.Pbs, .Pbf {
  background-image: url(pieces/pawn_b.svg);
}

.Pws, .Pwf {
  background-image: url(pieces/pawn_w.svg);
}
/*# sourceMappingURL=style.css.map */